/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/coins-4420008.jpg);
    background-size: cover;
    min-height: 650px;
}
.style{
    opacity: 0;
}