<div class=" container w-50 p-4  text-center " style="background-color: rgba(95, 93, 90, 0.251); margin-top: 100px;">
   <form [formGroup]="registerForm" action="" (ngSubmit)="register()">
    <h2>Registration form</h2>
    
    <div class="p-3">
        <input formControlName="uname" name="un" type="text" class="form-control mt-3" id="uname" placeholder="Username">
    </div>
    <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
        <p class="text-danger">invalid username</p>
    </div>
    <div class="p-3">
        <input formControlName="acno" name="ac" type="text" class="form-control  " id="acnm" placeholder="Account Number">
    </div>
    <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
        <p class="text-danger">accept only number </p>
    </div>
    <div class="p-3">
        <input formControlName="psw"  name="ps" type="password" class="form-control mt-3" id="psw" placeholder="Password">
    </div>
    <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">
        <p class="text-danger"> must contain numbers and charectors</p>
    </div>
    <div>
        <button type="submit"  class="btn btn-secondary ps-4 pe-4 mt-5">register</button>
    </div>
</form>
</div>